# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GH_Python_2020\KKBird_Desktop_project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
